<div>
  <h1>Upload Video</h1>
  <form method="post">
  <input type="file" name="pic" (change)="videoSelected($event)">
  <button type="button" (click)="uploadFile()">Upload</button>
</form>
</div>
<div>
  <table>
    <th>ID</th>
    <th>File Name</th>
    <tr *ngFor="let video of videoList">
      <td>{{video.id}}</td>
      <td>{{video.file_name}}</td>
    </tr>
  </table>
</div>
<div>
  <video src="http://localhost:8080/video/1" controls>
    Yor Browser Dosen't Support Video Playing Please Upgrade...
  </video>
</div>
